/*
 * WP GroupMenu CSS
 * Copyright 2017 Alexis Collin
 */
/* BACKGROUND */
.wpgroupmenu,
.wpgroupmenu_nav,
.wpgroupmenu_mobi{
	background: #111111;
}
.wpgroupmenu_nav {}
.wpgroupmenu_nav ul {}
.wpgroupmenu_nav ul li {}
/* LINK */
.wpgroupmenu_nav ul li a {
	color: #EEEEEE;
	text-decoration: none;
	padding: 15px 15px;
}
.wpgroupmenu_nav ul li a:hover {
	color: #333333;
	background: #FFFFFF;
    box-shadow: 0px -1px 6px 0px #FFFFFF;
}
.wpgroupmenu_nav ul li a:hover span {}
/* ACTIVE */
.wpgroupmenu_nav ul li a.current,
.wpgroupmenu_nav ul li a.current:hover {
	color: #333333;
	background: #FFFFFF;
}
.wpgroupmenu_nav ul li a[href="#"]:after{content: " YMAA ";}
