/*
 * WP GroupMenu CSS
 * Copyright 2017 Alexis Collin
 * Colors :
 * BG #DAEDE5
 */
.wpgroupmenu {
    height: 46px;
    background: #1884D0 url("../images/emerald/bgOFF.gif") repeat-x top left;
    border-bottom: 4px solid #1884D0;
    border-top:    1px solid #C0E2D4;
}
.wpgroupmenu_nav {
    position:relative;
    height: 41px;
    text-transform:uppercase;
    background: #DAEDE5 url("../images/emerald/bgOFF.gif") repeat-x top left;
    border-bottom: 4px solid #336666;
    border-top:    1px solid #C0E2D4;
}
/* LINK */
.wpgroupmenu_nav ul li a {
    color: #874B46;
    text-decoration: none;
    padding: 0 20px;
    height: 36px;
    background:transparent url("../images/emerald/bgDIVIDER.gif") no-repeat top right;
}
.wpgroupmenu_nav ul li a:hover {background:transparent url("../images/emerald/bgHOVER.gif") no-repeat top right;}
/* ACTIVE */
.wpgroupmenu_nav ul li a.current,
.wpgroupmenu_nav ul li a.current:hover {
    color: #FFFFFF;
    background:transparent url("../images/emerald/bgON.gif") no-repeat top right;
}
.wpgroupmenu_nav ul li a span {
    display: block;
    padding: 12px 20px 0 12px;
    height: 21px;
    width: auto;
}
.wpgroupmenu > .wpgroupmenu_nav                                {padding:  0   0 0 20px;}
               .wpgroupmenu_mobi .wpgroupmenu_nav ul li a span {padding: 12px 0 0 12px;}
               .wpgroupmenu_mobi .wpgroupmenu_nav ul li a      {padding: 0;}

@media screen and (max-width : 1025px){
    .wpgroupmenu_mobi ul li a,
    .wpgroupmenu_nav  ul li a:hover {
        background: #DAEDE5;
        background-image: none;
    }
    .wpgroupmenu_mobi ul li a:hover {
        background: #b8d0c6;
        color:      #000000;
    }
}
