/*
 * WP GroupMenu CSS
 * Copyright 2017 Alexis Collin
 */
/* BACKGROUND */
.wpgroupmenu,
.wpgroupmenu_nav,
.wpgroupmenu_mobi{
	background: #FE5E00;
}
.wpgroupmenu_nav {}
.wpgroupmenu_nav ul {}
.wpgroupmenu_nav ul li {}
/* LINK */
.wpgroupmenu_nav ul li a {
	color: #EAF3F8;
	text-decoration: none;
	padding: 15px 15px;
}
.wpgroupmenu_nav ul li a:hover {
	color: #FFFFFF;
    box-shadow: 0px -1px 6px 0px #333333;
}
.wpgroupmenu_nav ul li a:hover span {}
/* ACTIVE */
.wpgroupmenu_nav ul li a.current,
.wpgroupmenu_nav ul li a.current:hover {
	color: #FFFFFF;
    box-shadow: 0px -1px 6px 0px #333333;
}
