/*
 * WP GroupMenu CSS
 * Copyright 2017 Alexis Collin
 */
/* BACKGROUND */
.wpgroupmenu {
	height: 56px;
	color: #E0E0E0;
	background: #143D55;
}
.wpgroupmenu > .wpgroupmenu_nav{padding: 0 0 0 20px;}
.wpgroupmenu_nav {
	position:relative;
	height:33px;
	text-transform:uppercase;
	background: #FFFFFF url('../images/sapphire/bg.gif') repeat-x bottom left;
}
.wpgroupmenu_nav ul li {margin:0 1px;}
/* LINK */
.wpgroupmenu_nav ul li a {
	color: #EAF3F8;
	text-decoration: none;
	padding: 0 0 0 20px;
	height: 33px;
}
.wpgroupmenu_nav ul li a span {
	padding: 12px 20px 0 0;
	height: 21px;
	display: block;
    width: auto;
}
.wpgroupmenu_nav ul li a:hover {
	color: #FFFFFF;
	background: transparent url('../images/sapphire/bg-OVER.gif') repeat-x bottom left;
}
/* ACTIVE */
.wpgroupmenu_nav ul li a.current,
.wpgroupmenu_nav ul li a.current:hover {
	color: #FFFFFF;
	background: #1D6893 url('../images/sapphire/left-ON.gif') no-repeat top left;
	line-height: 275%;
}
.wpgroupmenu_nav ul li a.current span {
	padding: 0 20px 0 0;
	background: #1D6893 url('../images/sapphire/right-ON.gif') no-repeat top right;
	height: 33px;
}
@media screen and (max-width : 1025px){
    .wpgroupmenu_nav ul li a[href="#"],
    .wpgroupmenu_mobi ul li a,
    .wpgroupmenu_nav  ul li a:hover {
        background: #7AB8DA;
        background-image: none;
    }
    .wpgroupmenu_nav ul li a[href="#"]:hover,
    .wpgroupmenu_nav  ul li a:hover {
        background: #619cbb;
        color: #000000;
    }
}
