/*
 * WP GroupMenu CSS
 * Copyright 2014 Kevon Adonis & vSpider.com
 * wpgm.vspider.com
 */

#wpgroupmenu {
	position:relative;
	height:56px;
	color:#E0E0E0;
	background:#143D55;
	width:100%;
	font-family:Helvetica,Arial,Verdana,sans-serif;
}

#wpgroupmenu_nav {
	position:relative;
	height:33px;
	font-size:12px;
	text-transform:uppercase;
        text-shadow: none !important;
	font-weight:bold;
	background:#fff url(../images/sapphire/bg.gif) repeat-x bottom left;
	padding:0 0 0 20px;
}

#wpgroupmenu_nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	float:left;
}

#wpgroupmenu_nav ul li {
	display:block;
	float:left;
	margin:0 1px;
}

#wpgroupmenu_nav ul li a {
	display:block;
	float:left;
	color:#EAF3F8;
	text-decoration:none;
	padding:0 0 0 20px;
	height:33px;
}

#wpgroupmenu_nav ul li a span {
	padding:12px 20px 0 0;
	height:21px;
	float:left;
}

#wpgroupmenu_nav ul li a:hover {
	color:#fff;
	background:transparent url(../images/sapphire/bg-OVER.gif) repeat-x bottom left;
}

#wpgroupmenu_nav ul li a:hover span {
	display:block;
	width:auto;
	cursor:pointer;
}

#wpgroupmenu_nav ul li a.current,#wpgroupmenu_nav ul li a.current:hover {
	color:#fff;
	background:#1D6893 url(../images/sapphire/left-ON.gif) no-repeat top left;
	line-height:275%;
}

#wpgroupmenu_nav ul li a.current span {
	display:block;
	padding:0 20px 0 0;
	width:auto;
	background:#1D6893 url(../images/sapphire/right-ON.gif) no-repeat top right;
	height:33px;
}

