/*
 * WP GroupMenu CSS
 * Copyright 2017 Alexis Collin
 */

/* BACKGROUND */
.wpgroupmenu {
	position:fixed;
    background: url(../images/ymaa-logo.png) no-repeat 4px 4px;
	background-color:#111111;
	background-color: rgba(0,0,0,0.85);
}
.wpgroupmenu_nav {margin-left: 50px;}
.wpgroupmenu_nav ul li,
.wpgroupmenu_nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
.wpgroupmenu_nav ul li a,
.wpgroupmenu_nav ul li a:visited{
	padding: 16px 20px;
}
.wpgroupmenu_nav ul li a:hover {
	background-color:#EFEFEF;
	color: #000000;
}
.wpgroupmenu_nav ul li a.current,
.wpgroupmenu_nav ul li a.current:hover {
	color: #000000;
	background-color:#FFFFFF;
}
/*Responsive Styles */
@media screen and (max-width : 1025px){
    .wpgroupmenu_mobi .wpgroupmenu_nav{
        background-color:#111111;
        background-color: rgba(0,0,0,0.85);
    }
}
.wpgroupmenu_mobi .wpgroupmenu_toggle ul li a:after{content: " YMAA ";}
